*{
	margin:0px;
}
ul li{
	border-bottom:2px solid black;
	height:45px;
    padding-top:20px;
}
 
#bands{
	
/* 	line-height: 35px; */
	width:300px;
    background-color:#fff;
	border-left: 22px solid grey;
	border-right: 20px solid grey;
	position: absolute;
	top: 100px;
	left: 35%;
	list-style-type:square;
 
}
 